@import '../colors.scss';

/* ALL PROPERTIES UNIQUE TO MONSOON */

.monsoon-background {
    margin-top: 150px;
    margin-bottom: 100px;
}

.monsoon-title {
    font-weight: 720;
}

.monsoon-paragraph {
    color: $font-grey; 
}


