$dark-grey: #272727;
$white: white;
$grey: #313030;

.background {
    display: inline-flex;
    width: 80%;
}

.paragraph {
    //
}

.text {
    text-align: left;
    padding: 30px;
}


.monsoon-image {
    padding: 30px;
}


.monsoon-title {
    font-size: 20pt;
    font-weight: 720;
}

.monsoon-paragraph {
    color: $dark-grey;
}



/*.background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 13%;
    padding-right: 13%;
}

.paragraph {
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

.text {
    font-size: 16px;
    padding-left: 12px;
    text-align: left;
}


.monsoon-image {
    float: left;
    padding-right: 30px;
}

.monsoon-background {
    background-color: $white;
    padding-top: 130px;
    padding-bottom:130px;
}

.monsoon-title {
    font-size: 20pt;
    font-weight: 720;
}

.monsoon-paragraph {
    color: $dark-grey;
}
*/


