$dark-grey: #272727;
$white: white;
$grey: #313030;

.move2-background {
    background-image: linear-gradient($grey, $white);
    padding-top: 30px;
    padding-bottom: 130px;
}

.move2-image {
    float: left;
    padding-right: 30px;
}

.move2-title {
    font-size: 20pt;
    font-weight: 800;
    color: $white;
}