$white: white;
$grey: #313030;
$font-grey: #4B4B4B;

.move2-background {
    padding-top: 10px;
    padding-bottom: 130px;
}

.move2-title {
    font-weight: 800;
    color: $white;
}

.move2-paragraph {
    color: $white;
}

.move2-window {
    background-image: linear-gradient($grey, $white);
}