@import '../colors.scss';

/* ALL PROPERTIES UNIQUE TO MOVE2 */

.move2-window {
    background-image: linear-gradient($grey, $white);
}

.move2-background {
    padding-top: 10px;
    padding-bottom: 130px;
}

.move2-title {
    font-weight: 800;
    color: $white;
}

.move2-paragraph {
    color: $white;
}

