$HuntForTheWilderPeople: './hunter.jpg';
$NichtsPassiert: './nicht.jpg';
$ViceVersa: './vice_versa.png';
$TheFourthPhase: './fourth_phase.jpg';
$FullMoon: './full_moon.jpg';

/* MOVIE POSTER WALLPAPER FOR CAROUSEL */

.wallpaper {
    background-size: 100%;
    background-position: 50% 55%; 
    height: 580px;
    width: 100%;
    position: absolute;
    filter: blur(20px) brightness(0.4);
    z-index: 1;
    transform: scale(1.05);
}

.HuntForTheWilderPeopleWallpaper {
    background-image: url($HuntForTheWilderPeople);
}

.NichtsPassiertWallpaper {
    background-image: url($NichtsPassiert);
}

.ViceVersaWallpaper {
    background-image: url($ViceVersa);
}

.TheFourthPhaseWallpaper {
    background-image: url($TheFourthPhase);
}

.FullMoonWallpaper {
    background-image: url($FullMoon);
}

/* COLOR TINT OVERLAY FOR EACH MOVIE POSTER WALLPAPER */

.colorOverlay {
    opacity: 0.3;
    position: absolute;
    z-index: 2;
    height: 600px !important;
    width: 100%;
    filter: blur(20px);
}

.HuntForTheWilderPeopleColorOverlay {
    background-color: #319de4;
}

.NichtsPassiertColorOverlay {
    background-color: #0fb5ee;
}

.ViceVersaColorOverlay {
    background-color: #b5ae5e;
}

.TheFourthPhaseColorOverlay {
    background-color: #3177aa;
}

.FullMoonColorOverlay {
    background-color: #858485;
}

/* ACTUAL CONTENT OF CAROUSEL */

.carousel{
    padding-top: 70px;
    padding-bottom: 100px;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: 1000;
    left: 0;
    z-index: 3;
}

.carouselWrapper {
    display: inline-flex;
    width: 67%;
}

.moviePoster {
    width: 300px;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
}

.movieText {
    text-align: left;
    padding: 50px;
}

.movieTitle {
    color: white;
    font-size: 23pt;
    font-weight: 550;
}

.movieDescription {
    font-size: 18px;
    padding-bottom: 10px;
    color: #a7bcd0;
}

/* BUYNOW BUTTON & WATCHTRAILER BUTTON */

.buttonWrapper {
    display: inline-flex;
}

.buyNowButton {
    margin-right: 10px;
    width: 120px;
    height: 40px;
    border-width: 0px;
    color: white;
    font-size: 11pt;
    font-weight: 800;
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
}

.HuntForTheWilderPeopleBuyNowButton {
    background-color: #319de4;
}

.NichtsPassiertBuyNowButton {
    background-color: #0fb5ee;
}

.ViceVersaBuyNowButton {
    background-color: #b5ae5e;
}

.TheFourthPhaseBuyNowButton {
    background-color: #3177aa;
}

.FullMoonBuyNowButton {
    background-color: #858485;
}

.watchTrailerButton {
    background: transparent;
    border-color: #a7bcd0;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 11pt;
    font-weight: 800;
    border-radius: 5px;
}

.buyNowLink {
    text-decoration: none;
}

.buttonArrow {
    padding-right: 7px;
    font-size: 25px;
}

/* THE LEFT AND RIGHT ARROWS OF THE CAROUSEL */

.sideButton {
    background: transparent;
    display: inline-flex;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border-color: transparent;
    color: #8D8D8D;
    font-size: 70px;
    cursor: pointer;
    margin-top: 120px;  
}

.sideButton:focus {
    outline:0;
}

.sideButton:hover {
    color: #6AC9FF;
}

.sideButton:active {
    border-color: black;
} 

/* RESPONSIVE PROPERTIES FOR DIFFERENT SCREEN WIDTHS */

@media screen and (max-width: 1074px) { 
    .carouselWrapper {
        flex-direction: column;
        width: 67%;
    }

    .wallpaper {
        height: 850px;
    }

    .colorOverlay {
        height: 850px !important;
    }
}

@media screen and (max-width: 696px) { 
    .wallpaper {
        height: 900px;
        transform: scale(1.08);
    }

    .colorOverlay {
        height: 900px !important;
    }
}

    