@import '../colors.scss';

/* ALL PROPERTIES UNIQUE TO BEAMS */

.beams-window {
    background-color: $grey;
}

.beams-background {
    padding-top: 130px;
    padding-bottom: 10px;
}

.beams-title {
    font-weight: 800;
    color: $white;
}

.beams-paragraph {
    color: $white;
}




